#formulario{
    max-width: 500px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
}

fieldset{
    margin: 10px;
    padding: 10px;
}

fieldset legend{
    padding: 5px;
    font-size: 18px;
}

/* coloca os dois internos lado a lado */
#formulario > fieldset {
    display: flex;
    gap: 20px;
}

/* faz eles ocuparem espaço igual */
#formulario > fieldset > fieldset {
    flex: 1;
}